# Created by .ignore support plugin (hsz.mobi)
/.idea/
/logs/

# gradle
.gradle
build
repo

# eclipse
.settings
.metadata
.classpath
.project
.factorypath
*/.apt_generated/
bin

# intellij
out
*.idea

# occupational hazzards
*/logs/
/jmh_data_input.json
/jmh_data_output.json
/jmh_results.md
/test_results.html
/eventbus-wrapper/
/jmh_data_output.csv
