# Created by .ignore support plugin (hsz.mobi)
/.idea/
/logs/

# gradle
.gradle
build
repo

# eclipse
.settings
.metadata
.classpath
.project
.factorypath
*/.apt_generated/
bin

# intellij
out
*.idea

# occupational hazzards
*/logs/